body {
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 13rem;
  background-image: url("/assets/images/admin-small.png");
  background-size: cover;
  background-repeat: repeat;
  overflow: hidden;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
}

header > div {
  margin-left: -6rem;
  display: flex;
  align-items: center;
  width: 40rem;
  height: 25rem;
  padding-left: 5rem;
  padding-bottom: 4rem;
  transform: rotate(40deg);
  background-color: rgb(18, 55, 79, 0.6);
}

header h1 {
  transform: rotate(-40deg);
  font-size: 2.5rem;
  font-style: italic;
  color: white;
}

main {
  display: flex;
  width: 100%;
  height: calc(100vh - 16rem);
}

aside {
  margin-top: 3rem;
  width: 50vw;
  height: 100%;
}

aside ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside li > button {
  width: 20rem;
  height: 2rem;
  margin-bottom: 0.8rem;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: rgb(18, 55, 79);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

aside li > button:active {
  transform: scale(0.98);
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75);
}

section {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding-left: 3rem;
  width: 100%;
  height: 65vh;
  border-left: 1px solid rgb(112, 128, 144, 0.25);
}

section > h1 {
  font-size: 2rem;
  font-style: italic;
}

section form {
  margin-top: 1.5rem;
  display: flex;
}

section form label {
  font-size: 1rem;
  font-style: italic;
  color: rgb(112, 128, 144, 0.75);
}

#funcionario,
#predio,
#local {
  width: 18rem;
  height: 2rem;
  margin-right: 1rem;
  border-radius: 0.3rem;
  border: 2px solid rgb(112, 128, 144, 0.25);
}

#submit {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: rgb(18, 55, 79);
  color: white;
  font-weight: bold;
  font-size: large;
  text-align: center;
}

#tableContainer {
  width: 59.2rem;
  height: 55vh;
  margin-top: 2rem;
  overflow-y: auto;  
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

td > input {
  border: none;
  color: black;
  background-color: inherit;
  text-align: center;
  font-size: 1rem;
}

.editable {
  appearance: none;
  background-color: inherit;
  max-width: 60%;
  color: black;
  opacity: 1;
  font-size: 1rem;  
}

.enabled {
  appearance: auto;
  border: 1px solid black;
  color: black;
  background-color: white;
  text-align: center;
  font-size: 1rem;
}

th {
  font-style: italic;
  background-color: rgb(18, 55, 79);
  color: white;
}

th:last-child {
  width: 5rem;
}

th:nth-child(2) {
  width: 3rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.edit-container ion-icon {
  cursor: pointer;
  font-size: 20px;
  margin-left: 5px;
  color: rgb(18, 55, 79);
}